html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
  background-color: #121212;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  right: 0;
  top: 50%;
  background-color: #40280e;
  box-shadow: 0 0 340px 340px #40280e;
  /*background-image: radial-gradient(at 100% 50%, #40280e, #121212 100%);*/
  /*background-repeat: no-repeat;*/
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
